body{
  min-height: 100vh;
  background-image:url('../img/background_york.JPG');
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position:center top;
  background-size: 100% auto;
}

@media screen and (max-aspect-ratio: 4/3){
  body{
    background-size: auto 100vh;
  }
}

@media screen and (max-width: 640px){
  body{
    background: #ddd;
  }
}
