body{
  min-height: 100vh;
  background-image:url('../img/background_york.JPG');
  background-repeat:no-repeat;
  background-position:center;
  background-size: auto 100vh;
}

@media screen and (max-width: 640px){
  body{
    background: #ddd;
  }
}
